<%- include('header') -%>

  <p><%= Math.random() %></p>
  <p><%= content %></p>
  <!-- use '-' to take the variable as a HTML -->
  <p><%- content %></p>

  <div id="root"><%- content -%></div>
  
<%- include('footer') -%>
